body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f0f0;
}

main {
  /* text-align: center; */
}

#pi-calculation {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2em;

  width: 50%;
  background: rgba(255, 255, 255, 0.6);
}
